<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="biztechi.aic.repository.post.PostMapper">
    <resultMap id="Post" type="biztechi.aic.domain.Post">
        <id property="id" column="post_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
        <result property="updatedAt" column="updated_at" javaType="java.time.LocalDateTime"/>
        <collection property="category" ofType="biztechi.aic.domain.Category">
            <id property="id" column="category_id"/>
            <result property="code" column="category_code"/>
            <result property="label" column="category_label"/>
        </collection>
        <collection property="createdBy" ofType="biztechi.aic.domain.Member">
            <id property="id" column="created_by_id"/>
            <result property="username" column="created_by_username"/>
            <result property="password" column="created_by_password"/>
            <result property="name" column="created_by_name"/>
            <result property="role" column="created_by_role" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </collection>
        <collection property="updatedBy" ofType="biztechi.aic.domain.Member">
            <id property="id" column="updated_by_id"/>
            <result property="username" column="updated_by_username"/>
            <result property="password" column="updated_by_password"/>
            <result property="name" column="updated_by_name"/>
            <result property="role" column="updated_by_role" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="Post">
        SELECT p.post_id,
               p.title,
               p.content,
               c.category_id AS category_id,
               c.code AS category_code,
               c.label AS category_label,
               cm.member_id AS created_by_id,
               cm.username AS created_by_username,
               cm.password AS created_by_password,
               cm.name AS created_by_name,
               cm.role AS created_by_role,
               p.created_at,
               um.member_id AS updated_by_id,
               um.username AS updated_by_username,
               um.password AS updated_by_password,
               um.name AS updated_by_name,
               um.role AS updated_by_role,
               p.updated_at
        FROM Post p
                 LEFT JOIN Category c ON p.category = c.category_id
                 LEFT JOIN Member cm ON p.created_by = cm.member_id
                 LEFT JOIN Member um ON p.updated_by = um.member_id
        WHERE p.post_id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM Post
        WHERE post_id = #{id}
    </delete>
</mapper>